.medicinepage-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(45deg, #0c2141, #1e3d58);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
  margin-top: 7rem;
}

.medicinepage-card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f7b731, #f05454);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
  opacity: 0.2;
  z-index: -1;
}

/* Left Side */
.medicinepage-left-side {
  flex: 1;
  padding: 20px;
}

.medicinepage-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.medicinepage-description {
  font-size: 1rem;
  color: #eaeaea;
  margin-bottom: 20px;
}

.medicinepage-search-container {
  display: flex;
  align-items: center;
}

.medicinepage-search-input {
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 10px;
  width: 250px;
  font-size: 1rem;
  margin-right: 10px;
}

.medicinepage-search-icon {
  font-size: 1.5rem;
  color: #333;
}

/* Right Side */
.medicinepage-right-side {
  flex: 1;
  padding: 20px;
}

.medicinepage-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .medicinepage-card-container {
    display: flex;
    flex-direction: column;
  }
  .medicinepage-right-side {
    order: -1;
    width: 100%;
    padding-bottom: 0;
  }

  .medicinepage-left-side {
    width: 100%;
    padding-top: 0;
  }

  .medicinepage-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}
